/* Init Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

.heading {
  @apply font-bold text-xl mb-2;
}

.card {
  @apply overflow-hidden shadow-lg;
}

.pill {
  @apply inline-block rounded-full px-3 py-1 text-sm font-semibold mr-2 cursor-pointer;
}

@variants hover {
  .pill-light {
    @apply text-gray-200 bg-gray-500;
  }
  .pill-dark {
    @apply text-gray-500 bg-gray-200;
  }
}

.pill-light {
  @apply bg-gray-200 text-gray-500;
}

.pill-dark {
  @apply bg-gray-500 text-gray-200;
}

@responsive {
  .blur {
    filter: blur(30px);
  }
}

@screen md {
  .blur {
    filter: blur(20px);
  }
}

@screen lg {
  .blur {
    filter: blur(10px);
  }
}